.tasks {

    section.label {
        border-bottom: 2px solid #c2c2c2;

        h3 {
            color: #dddddd;
        }

        ul {
            margin-bottom: 1em;

            & li {
                display: flex;
                flex-direction: row;
                align-items: center;

                list-style-type: none;
                font-size: 1.5em;

                & label {
                    padding-top: 0.25em;
                    margin-left: 0.25em;

                    &:has(+ input[type='checkbox']:checked) {
                        text-decoration: line-through;
                    }
                }

                & input[type='checkbox'] {
                    order: -1;
                    width: 1.5em;
                    height: 1.5em;
                }
            }
        }
    }
}
